/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */




/* Mobile responsive start*/
@media only screen and (max-width: 768px) {
    .navbar .option-section{
        display: none;
    }

    .cart-ellipsis-section .fa-cart-plus, .fa-bell{
        display: none;
    }
    .cart-ellipsis-section .fa-ellipsis-vertical{
        display: block !important;
        border: 2px solid white;
        border-radius: 5px;
        padding: 3px 10px;
        animation: none;
        color: white;
    }
    .search-cart .search-section input{
        padding: 5px;
        width: 100px;
    }
    .search-cart .search-section .fa-magnifying-glass{
        padding: 0 5px;
        color: white;
        font-size: 15px;
    }



/* Ellipsis section  start*/

.navbar .option-section{
    z-index: 99999;
    position: absolute;
    top: 50px;
    width: 100%;
}
.navbar .option-section ul .li{
    left: 10%;
    width: 80%;
    border-bottom: 2px solid white;
    border-radius: 10px;
    background-color: rgb(134, 78, 187);
    font-size: 20px;
    cursor: pointer;
}
.li:nth-child(1){
    border-top: 2px solid white;
}

.navbar .option-section ul, li{
    display: block;
    text-align: center;
}
.navbar .option-section ul .li .dropdown{
    /* display: none; */
    position: relative;
    /* background-color: red; */
    margin: 5px -20px;
}
.navbar .option-section ul .li .dropdown li{
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;

}
.option-section #remove {
    display: block !important;
    color: white;
    padding: 5px;
}
.option-section #remove .fa-xmark{
    font-size: 30px;
}

/* pointer-events: none; */



/* *********   Hero section start    ********** */

.hero-section{
    position: absolute;
    width: 100%;
    height: 80vh;
    display: block;
    background-color: rgb(80, 91, 248);
    overflow: hidden;
}

.hero-section .text-section{
    width: 100%;
    height: 40%;
    padding: 0 20px 0 50px;
    text-align: center;
    padding-top: 30px;
}
.hero-section .img-section{
    width: 100%;
    height: 60%;
    text-align: center; 
}
.dot{
    bottom: 10px;
}








}